@import url('~@fontsource/ubuntu/300.css');
@import url('~@fontsource/ubuntu/400.css');
@import url('~@fontsource/ubuntu/500.css');
@import url('~@fontsource/ubuntu/700.css');

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
