.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-input {
    box-sizing: border-box;
    height: 135px;
    width: 512px;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    font-family: "Ubuntu";
    font-weight: bold;
    text-align: center;
}